.payment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 70vh;
}

.payment {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #1e293b;
}

.payment-desc {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #475569;
}

.homepage-btn {
  background-color: #f7931e;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  outline: none;
  cursor: pointer;
}
